body {
    background-color: #121212;
    margin: 0%;
    margin-top: 0%;
}

.navigation_left {}

ul {
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 8px;
    max-width: 210px;
    max-height: 500px;
    background-color: grey;
    border: 15px solid grey;
}

li {
    text-align: start;
    list-style: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}